.computer-wrapper {
  position: relative;
  width: 20em;
  margin-top: 5em;
  background-color: aqua;
}

.computer-wrapper::after {
  content: "";
  display: block;
  clear: both;
}

.computer {
  width: 4em;
  height: 4em;
  background-color: aquamarine;
}

.computer--from {
  float: left;
}

.computer--target {
  float: right;
}

.computer__file {
  position: absolute;
  top: 1.5em;
  left: 1.5em;
  width: 1em;
  height: 1em;
  background-color: blueviolet;
  animation: jump 2s ease-in-out infinite;
}

@keyframes jump {
  from {
    transform: rotate(-90deg) translateX(0) scale(1);
  }

  70%,
  100% {
    transform: rotate(0) translateX(16em) scale(0.5);
  }
}

.card-wrapper {
  position: relative;
  width: 15em;
  height: 20em;
  margin: 0 auto;
  perspective: 100em;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  color: #fff;
  transition-duration: 0.3s;
}

.card--front {
  background-color: #3b82f6;
}

.card--rear {
  background-color: #10b981;
  transform: rotateY(-180deg);
}

.card--front,
.card--rear {
  backface-visibility: hidden;
}

.card-wrapper:hover .card--front {
  transform: rotateY(180deg);
}

.card-wrapper:hover .card--rear {
  transform: rotateY(0);
}

.card img{
    width: 100%;
    height: auto;
}

.fly-wrapper{
  perspective: 100em;
}

.fly-card{
  width: 10em;
  height: 15em;
  margin: 0 auto;
  background-color: #3b82f6;
  transform-origin: 15em;
  transform: rotateY(0deg);
  transition: 1s;
}

.fly-wrapper:hover .fly-card{
  transform: rotateY(180deg);
}