body {
  margin: 0;
}

h1 {
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100em;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  width: 20em;
  margin: 1em;
  padding: 1em;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 1em;
  transition: all .3s;
  overflow: hidden;
}

.wrapper .box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10em;
  height: 10em;
  border: 0.5em solid #3b82f6;
  transition: all .3s;
}

.wrapper .desc{
  position: absolute;
  top: 50%;
  right: -100%;
  transform:translateY(-50%);
  width: 60%;
  transition: all .3s;
}

.wrapper .desc h2{
  display: block;
  margin: 0;
}

.wrapper .desc code{
  display: block;
  margin-top: 1em;
}

.wrapper:hover{
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.wrapper:hover .box{
  left: 15%;
  transform: translate(-50%, -50%) scale(50%);
}

.wrapper:hover .desc{
  right: 0;
}

/* 正圆 */
.wrapper:nth-child(1) .box {
  border-radius: 50%;
}

/* 上圆下方 */
.wrapper:nth-child(2) .box {
  border-radius: 50% 50% 0 0;
}

/* 半圆 */
.wrapper:nth-child(3) .box {
  height: 5em;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

/* 左上角圆 */
.wrapper:nth-child(4) .box {
  border-radius: 50% 0 0 0;
}

/* 四分之一圆 */
.wrapper:nth-child(5) .box {
  border-radius: 100% 0 0 0;
}

/* 横着的椭圆 */
.wrapper:nth-child(6) .box {
  height: 5em;
  border-radius: 50%;
}

/* 竖着的椭圆 */
.wrapper:nth-child(7) .box {
  width: 5em;
  border-radius: 50%;
}

/* 横着的椭圆的上半部分 */
.wrapper:nth-child(8) .box {
  height: 2.5em;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

/* 竖着的椭圆左半部分 */
.wrapper:nth-child(9) .box {
  width: 2.5em;
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
}

/* 竖着的椭圆左上角四分之一 */
.wrapper:nth-child(10) .box {
  width: 2.5em;
  height: 5em;
  border-radius: 100% 0 0 0;
}

/* 三横 */
.wrapper:nth-child(11) .box {
  width: 5em;
  height: 1em;
  border: none;
  border-top: 3em double #3b82f6;
  border-bottom: 1em solid #3b82f6;
}

/* 变形三横子弹头 */
.wrapper:nth-child(12) .box {
  width: 5em;
  height: 1em;
  border: none;
  border-top: 3em double #3b82f6;
  border-bottom: 1em solid #3b82f6;
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
}

/* 大圆包小圆 */
.wrapper:nth-child(13) .box {
  width: 5em;
  height: 5em;
  border: 2.5em solid #3b82f6;
  border-radius: 50%;
}

/* 圆角包正方 */
.wrapper:nth-child(14) .box {
  width: 5em;
  height: 5em;
  border: 2.5em solid #3b82f6;
  border-radius: 2.5em;
}

/* 正方形左上角圆 */
.wrapper:nth-child(15) .box {
  width: 5em;
  height: 5em;
  border: 2.5em solid #3b82f6;
  border-radius: 50% 0 0 0;
}

/* 正方形左上角右下角圆 */
.wrapper:nth-child(16) .box {
  width: 5em;
  height: 5em;
  border: 2.5em solid #3b82f6;
  border-radius: 50% 0 50% 0;
}

/* 彩色方形 */
.wrapper:nth-child(17) .box {
  width: 0em;
  height: 0em;
  border-width: 5em;
  border-style: solid;
  border-color: #ef4444 #10b981 #3b82f6 #f59e0b;
}

/* 彩色方形缺右边 */
.wrapper:nth-child(18) .box {
  width: 0em;
  height: 0em;
  border-width: 5em;
  border-style: solid;
  border-color: #ef4444 transparent #3b82f6 #f59e0b;
}

/* 向左三角形 */
.wrapper:nth-child(19) .box {
  width: 0em;
  height: 0em;
  border-width: 5em 5em 5em 0;
  border-style: solid;
  border-color: transparent #3b82f6 transparent transparent;
}

/* 向左三角形锐角 */
.wrapper:nth-child(20) .box {
  width: 0em;
  height: 0em;
  border-width: 2.5em 7em 2.5em 0;
  border-style: solid;
  border-color: transparent #3b82f6 transparent transparent;
}

/* 向左三角形钝角 */
.wrapper:nth-child(21) .box {
  width: 0em;
  height: 0em;
  border-width: 5em 2.5em 5em 0;
  border-style: solid;
  border-color: transparent #3b82f6 transparent transparent;
}

/* 吃豆人 */
.wrapper:nth-child(22) .box {
  width: 0em;
  height: 0em;
  border-width: 5em;
  border-style: solid;
  border-color: #ef4444 transparent #3b82f6 #f59e0b;
  border-radius: 50%;
}

/* 三角蛋糕块 */
.wrapper:nth-child(23) .box {
  width: 0em;
  height: 0em;
  border-width: 5em;
  border-style: solid;
  border-color: transparent #10b981 transparent transparent;
  border-radius: 50%;
}

/* 上下分色圆（边框实现） */
.wrapper:nth-child(24) .box {
  height: 0;
  border-width: 5em 0;
  border-style: solid;
  border-top-color: #10b981;
  border-bottom-color: #3b82f6;
  border-radius: 50%;
}

/* 上下分色圆（边框+背景实现） */
.wrapper:nth-child(25) .box {
  height: 5em;
  background-color: #10b981;
  border: none;
  border-top: 5em solid #3b82f6;
  border-radius: 50%;
}

/* 太极（边框+背景实现） */
.wrapper:nth-child(26) .box {
  position: relative;
  height: 5em;
  background-color: #10b981;
  border: none;
  border-top: 5em solid #3b82f6;
  border-radius: 50%;
}

.wrapper:nth-child(26) .box::before,
.wrapper:nth-child(26) .box::after {
  position: absolute;
  top: -50%;
  content: "";
  width: 1em;
  height: 1em;
  border: 2em solid;
  border-radius: 50%;
}

.wrapper:nth-child(26) .box::before {
  background-color: #3b82f6;
  border-color: #10b981;
}

.wrapper:nth-child(26) .box::after {
  right: 0;
  background-color: #10b981;
  border-color: #3b82f6;
}

/* 信息框 */
.wrapper:nth-child(27) .box {
  position: relative;
  height: 5em;
  background-color: #3b82f6;
  border-radius: 1em;
}


.wrapper:nth-child(27) .box::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: -1em;
  border: 1em solid transparent;
  border-left: none;
  border-right-color: #3b82f6;
}

/* 空心子弹 */
.wrapper:nth-child(28) .box {
  height: 3em;
  border: 3em solid #3b82f6;
  border-radius: 0 50% 50% 0;
}

/* 畸形空心子弹 */
.wrapper:nth-child(29) .box {
  height: 3em;
  border: 3em solid #3b82f6;
  border-radius: 3em 50% 50% 3em / 3em 45% 45% 3em;
}

/* 跑道 */
.wrapper:nth-child(30) .box {
  height: 4em;
  border: 3em solid #3b82f6;
  border-radius: 30% / 50%;
}

/* 爱心 */
.wrapper:nth-child(31) .box {
  position: relative;
  width: 5em;
  height: 7.5em;
  border: none;
}

.wrapper:nth-child(31) .box::before,
.wrapper:nth-child(31) .box::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #ef4444;
  border-radius: 2.5em 2.5em 0 0;
  transform: rotate(-45deg);
}

.wrapper:nth-child(31) .box::after {
  left: 1.8em;
  transform: rotate(45deg);
}

/* opera logo */
.wrapper:nth-child(32) .box {
  width: 3em;
  height: 8em;
  border-color: #ef4444;
  border-width: 1em 3em;
  border-radius: 50%;
}
